extends header
block main
  .container(id="about")
    img(src="{{url_for('static',filename='images/Linnie_two.jpg')}}", alt="one", style="width: 100%")
  .row(class="platform")
    h1(class="sub-header") Platform
    h3 Transparent and Accessible Government
    h3 Building a Sustainable Southfield
    h3 Protecting and Investing in City Workers

  
