extends header
block main
  .container(id="about")
    img(src="{{url_for('static',filename='images/Linnie_four.jpg')}}", alt="one", style="width: 100%")
  .row(class="platform")
    .col-md-12
      h1(class="sub-header") Platform
        h2 Transparent and Accessible Government
        br
        h3
          ul
            li.bullet All meetings that can be televised should be televised
            li.bullet Building partnerships with local colleges and universities to modernize government
            li.bullet Expand government services through the website
        br
        h2 Building a Sustainable Southfield
        br
        h3
          ul
            li.bullet Protecting local parks and wetlands
            li.bullet Updating and approving a modern master plan
            li.bullet Attracting businesses and residents through sustainable growth
        br
        h2 Protecting and Investing in City Workers
        br
        h3
          ul
            li.bullet Modernize city codes
            li.bullet Invest in city workers through new technology and equipment
            li.bullet Keep salaries competitive with surrounding areas
