extends header
block main
  .container(id="about")
    img(src="{{url_for('static',filename='images/Linnie_four.jpg')}}", alt="one", style="width: 100%")
  .row(class="platform")
    .col-md-12
      h1(class="sub-header") Quotes and Endorsements   
        h2
        blockquote
          h3 "Linnie Taylor cares about our community. 
          h3 I've seen her hard work and I know she's a great public servant. 
          h3 I'm exicted to vote for Linnie Taylor and I hope you will join me!"
          h2 -U.S. Congresswoman Brenda Lawrence
        h2 
        br
        blockquote
          h3 "Linnie Taylor is committed to being a true public servant who serves all the people. 
          h3 She is a strong compassionate, resourceful, caring, resilient, industrious, outspoken, and has a heart for true justice. 
          h3 Needed today are public servants who are courageous and committed to serving the people and rebuilding democracy to make stronger local communities and a stronger and greater America.
          h3 She is a great choice to serve Southfield"
          h2 -Dr. Rev. Carlyle F. Stewart III
        h2 Vincent Gregory - State Senator 
        h2 Gilda Jacobs - Former Michigan Senator
        h2 Vicki Barnett - Former Mayor Farmington Hills
        
  .row(class="platform")
    .col-md-12
      h1(class="sub-header") Platform
        h2 Transparent and Accessible Government
        br
        h3
          ul
            li.bullet All meetings that can be televised should be televised
            li.bullet Building partnerships with local colleges and universities to modernize government
            li.bullet Expand government services through the website
        br
        h2 Building a Sustainable Southfield
        br
        h3
          ul
            li.bullet Protecting local parks and wetlands
            li.bullet Updating and approving a modern master plan
            li.bullet Attracting businesses and residents through sustainable growth
        br
        h2 Protecting and Investing in City Workers
        br
        h3
          ul
            li.bullet Modernize city codes
            li.bullet Invest in city workers through new technology and equipment
            li.bullet Keep salaries competitive with surrounding areas
