extends header
block main
  .row(class="platform")
    .col-md-12
      br
      br
      br
      h1(class="sub-header") Contact Info
      h3 email: 
        a(href="mailto:lmtaylor@yahoo.com") lmtaylor@yahoo.com
      h3 phone: 
        a(href="tel.248-569-7613") 1-248-569-7613
