extends header
block main
  .row
    div.embed-responsive.embed-responsive-4by3(style="padding-bottom: 120%;")
      iframe.embed-responsive-item(src="https://www.crowdpac.com/campaigns/193020/linnie-taylor-for-southfield-city-council")
