extends base
block header	
	.row(id="header")
		.col-xs-5
			nav
				ul.list-inline(id="nav-tabs") 
					li(class="nav-link")
						a(href="/", id="title")  
							h1 Linnie Taylor          
					li(class="nav-link sub-link")
						a(href="/") Home
					li(class="nav-link sub-link")
						a(href="/about") Platform
					li(class="nav-link sub-link")
						a(href="/contact") Contact
					li(class="nav-link sub-link")
						a(href="https://www.crowdpac.com/campaigns/231735/linnie-taylor-for-southfield-city-council") Donate
		.col-xs-5.list-inline.text-right(id="right-header")
			nav
				a(href="https://www.crowdpac.com/campaigns/231735/linnie-taylor-for-southfield-city-council")
					button.btn.btn-danger(id="donate-button") Donate 
				a.glyphicon.glyphicon-align-justify(id="nav-button")
				ul(id= "dropdown")
					li
						a(href="/") Home
					li
						a(href="/about") The Platform
					li
						a(href="/contact") Contact
						li
							a(href="https://www.crowdpac.com/campaigns/231735/linnie-taylor-for-southfield-city-council") Donate				
			
				
		.col-xs-2.list-inline.text-right(id="donate-button-column")
			a(href="https://www.crowdpac.com/campaigns/231735/linnie-taylor-for-southfield-city-council", id ="donate-side-button")
				button.btn.btn-danger Donate
	block main
	
