extends base
block header	
	.row(id="header")
		.col-xs-6
			nav
				ul.list-inline(id="nav-tabs") 
					li(class="nav-link")
						a(href="/", id="title")  
							h1 Linnie Taylor          
					li(class="nav-link sub-link")
						a(href="/") Home
					li(class="nav-link sub-link")
						a(href="/about") Platform
					li(class="nav-link sub-link")
						a(href="/contact") Contact
					li(class="nav-link sub-link")
						a(href="/donate") Donate
		.col-xs-5.list-inline.text-right(id="right-header")
			nav
				a(href="/donate")
					button.btn.btn-danger(id="donate-button") Donate 
				a.glyphicon.glyphicon-align-justify(id="nav-button")
				ul(id= "dropdown")
					li
						a(href="") Home
					li
						a(href="") About Linnie
					li
						a(href="") Contact			
				li(id="sign-up")
					form.form-inline(role="form")
						label.sr-only Email Address
						input.form-control(type="name",placeholder="First Name")
						input.form-control(type="email",placeholder="Enter Email")
						input.form-control(type="zip", placeholder = "Zip", size=2)
						button.btn.btn-default Sign up!
				
		.col-xs-1.list-inline.text-right(id="donate-button-column")
			a(href="/donate", id ="donate-side-button")
				button.btn.btn-danger(href="/donate") Donate
	block main
